<div id="app-tabs">

  <ul class="nav nav-tabs" role="tablist">

    <li class="nav-item text-yellow">
      <a  class="nav-link"
          role="tab"
          [ngClass]="{active: chosenList === 'all'}"
          data-toggle="tab"
          (click)="onChoose('all')"
          style="cursor: pointer">All</a>
    </li>
    <li class="nav-item text-yellow">
      <a  class="nav-link"
          [ngClass]="{active: chosenList === 'light'}"
          role="tab"
          data-toggle="tab"
          (click)="onChoose('light')"
          style="cursor: pointer">Light</a>
    </li>
    <li class="nav-item text-yellow">
      <a  class="nav-link"
          [ngClass]="{active: chosenList === 'dark'}"
          role="tab"
          data-toggle="tab"
          (click)="onChoose('dark')"
          style="cursor: pointer">Dark</a>
    </li>
  </ul>

  <!-- App List Component -->
  <app-list [characters]="getCharacters()"
            (sideAssigned)="onSideChosen($event)"></app-list>

</div>
