// gridConfig
.fancy-theme-gray .fancy-grid-body .fancy-drop-cell-first-mask {
    border-top-color: #626262 !important;
}

.fancy-theme-gray .fancy-grid-body .fancy-drop-cell-mask {
    border-bottom-color: #626262 !important;
}

.image-staff img {
    margin-top: -15px;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}