<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>



<div class="jumbotron jumbotron-fluid">
  
  <div class="container">
    <fancy-grid-angular [config]="gridConfig"></fancy-grid-angular>
  </div>
  <br>

  <div class="container" style="display: flex;">

    <div style="flex: 2; border: 1px solid red">
      <fancy-grid-angular [config]="gridTree"></fancy-grid-angular>
    </div><br>
    
    <div style="flex: 2; border: 1px solid green">
      <fancy-grid-angular [config]="gridTreeFolder"></fancy-grid-angular>
    </div>
    
  </div>
</div>

<router-outlet></router-outlet>
